.accordion-menu__item {
  font-weight: 400;
  font-size: 1.43rem;

  hr {
    margin-top: 5px;
    margin-bottom: 7px;
  }
}

.accordion-sub__item {
  li {
    cursor: pointer;
    font-size: 1.29rem;
    font-weight: 300;
    padding-bottom: 13px;
    padding-left: 20px;

    &:first-child {
      padding-top: 9px;
    }

    &:last-child {
      padding-bottom: 26px;
    }

    &:hover {
      color: #1468a0;
    }
  }
}