#country-select {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 20;
  box-shadow: 0px 2px 4px 0 #707070;
  background-color: $white;
  padding: 20px 14px 20px 27px;
  transform: translateX(-100%);
  overflow: hidden;
  transition: transform 0.35s;

  &.active {
    transform: translateX(0%);
    overflow: auto;
  }

  .close-button {
    top: 12px;
  }
  
  h3 {
    font-size: 1.57rem;
    margin-bottom: 20px;
  }
}

.accordion-menu__item {
  font-weight: 400;
  font-size: 1.29rem;

  hr {
    margin-top: 5px;
    margin-bottom: 7px;
  }
}

.accordion-sub__item {
  li {
    cursor: pointer;
    font-size: 1.14rem;
    font-weight: 300;
    padding-bottom: 13px;
    padding-left: 20px;

    &:first-child {
      padding-top: 9px;
    }

    &:last-child {
      padding-bottom: 26px;
    }

    &:hover {
      color: $foundation-hover;
    }
  }
}

@media (min-width: map-get($breakpoints, large)){
  #country-select {
    position: absolute;
    width: 35%;
    max-width: 550px;
    height: 756px;
    padding: 30px;

    h3 {
      font-size: 1.79rem;
    }

    .close-button {
      top: 25px;
      right: 30px;
    }
  }

  .accordion-menu__item {
    font-size: 1.43rem;
  }

  .accordion-sub__item li {
    font-size: 1.29rem;
  }
}