// Hero
header {
  // TODO: comment out after nav is added
  // height: 100vh;

  .fullbleed {
    padding-top: 170px; 
    padding-bottom: 65px;
  }

  h1 {
    max-width: 266px;
    text-align: center;
    margin: 0 auto;
  }

  .img-container {
    margin-bottom: 145px;
  }

  .button {
    width: 174px;
  }
}