header {
  position: relative;

  .fullbleed {
    padding-top: 170px; 
    padding-bottom: 65px;

    .button {
      width: 174px;
      margin: 0 auto;
      margin-top: 35px
    }
  }

  h1 {
    max-width: 266px;
    text-align: center;
    margin: 0 auto;
  }

  .img-container {
    margin-bottom: 145px;
  }
}

nav {
  padding: 14px 0;
  position: relative;
}

.logo {
  margin-left: 21px;
  font-size: 1.36px;
  font-weight: bold;
  margin-bottom: 0;
}

.toggle-mobile {
  font-size: 1.43rem;
  color: $accent-blue;
  cursor: pointer;

  &.inactive {
    display: none;
  }
}


.toggle-mobile--close {
  font-size: 3rem;
  position: absolute;
  transform: translateY(-2.5px);
  display: none;

  &.active {
    display: block;
    
    & + .logo {
      margin-left: 38.5px;
    }
  }
}

.nav__search {
  font-size: 1.14rem;
  margin-right: 19px;
  color: $accent-blue;
}

.sub-menu {
  opacity: 0;
  visibility: hidden;
  width: 208px;
  margin: 0;
  padding: 23px 0 18px 28px;
  box-shadow: 0px 2px 4px 0 #707070; 
  position: absolute;
  transition: opacity 0.35s;

  li {
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#countries.active {
  opacity: 1;
  visibility: visible;
}

.nav__sign-in {
  cursor: pointer;
  color: inherit;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  display: inline-block;

  .user {
    margin-left: 9px;
  }
}

// for hovering effect and even out spacing
.nav__links-item, .nav__user-pref > li, .nav__login {
  padding-bottom: 20px;
}

.nav__social-links {
  margin-right: 30px;
  font-size: 1.2rem;
  
  li {
    margin-right: 15px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.nav__links {
  font-size: 1.58rem;

  li {
    margin-right: 50px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  .button {
    margin-bottom: 0;
    padding: 10px 20px;
  }
}

.nav__user-pref {
  font-size: 1.15rem;
  
  .expand {
    cursor: pointer;
    
    &:first-child {
      margin-right: 31px;
    }
  }
}

.language__toggle {
  position: relative;

  .sub-menu {
    font-size: 1.29rem;
    max-height: 706px;
    left: -100%;
    top: 100%;
    overflow-y: auto;

    li:hover {
      color: $foundation-hover;
    }
  }
}

.nav__links-item {
  cursor: pointer;
  
  .sub-menu {
    left: -25%;
    top: 100%;
  }
  
  & .button {
    color: $white;
    font-size: 1.15rem;
  }
}

#mobile-nav {
  // same height as hero
  height: 725px;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 10;
  background-color: $accent-blue;
  padding: 50px 0;
  color: $white;
  transition: opacity 0.25s;
  opacity: 0;
  visibility: hidden;
  
  &.active {
    opacity: 1;
    visibility: visible;
  }
  
  & > div {
    height: 100%;
  }

  .nav__links {
    text-align: center;
    
    li {
      font-size: 1.15rem;
      margin-right: 0;
      width: 192px;
      margin-bottom: 22px;

      &:first-child {
        padding: 10px 55px;
        border: 1px solid $white;
        margin-bottom: 18px;
      }
    }
  }

  a {
    color: $white;
  }

  .social-media {
    margin-top: 47px;
    margin-bottom: 0;
    width: 157px;
  }
}

.nav__user-local {
  li {
    width: 132px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1565C0;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#languages-mobile {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: $white;
  overflow: auto;
  opacity: 0;
  visibility: 0;
  
  .close-button {
    font-size: 2.5rem;
  }
  
  .sub-menu {
    width: 100%;
    height: auto;
    padding: 45px 0 15px 15px;
    overflow: auto;
  }
  
  &.active {
    position: fixed;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    
    .sub-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}

#desktop-nav {
  .logo {
    padding-bottom: 15px;
    margin: 0;
    font-size: 2.14rem;
  }

  hr {
    margin-top: 0;
  }

  .expand {
    i {
      font-size: 1rem; 
      margin-left: 12px;
      transform: translateY(-40%);
      transition: transform 0.25s;
    }
  }

  .expand--hover {
    &:hover {
      i {
        transform: rotate(180deg);
      }
  
      & > .sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (min-width: map-get($breakpoints, 'medium')){
  #mobile-nav {
    height: 905px;
    padding: 150px;
  }
}

@media (min-width: map-get($breakpoints, 'large')){
  nav {
    padding-top: 20px;
    padding-bottom: 0;
  }

  header {
    .fullbleed {
      padding-top: 110px;
      padding-bottom: 110px;

      .button {
        margin: 0;
        margin-top: 75px;
      }

      h1 {
        text-align: left;
        margin: 0;
      }

      .img-container {
        margin-bottom: 0;
      }
    }
  }

  .nav__search {
    margin-right: 30px;
  }
}