// Hero
#hero {
  .hero__fullbleed {
    padding-top: 170px; 
    padding-bottom: 65px;
  }

  h1 {
    max-width: 266px;
    text-align: center;
    margin: 0 auto;
  }

  .img-container {
    margin-bottom: 145px;
  }
}

// Short Description
#description {
  padding: 50px 0;
}

.description__container {
  .text-container {
    padding-left: 10px;
  }

  &:nth-child(2n){
    margin: 30px 0;
  }
}

.img-container--bg {
  background-color: $background-blue;
}

.img-container--bg-dark {
  display: none;
}

// Popular Resources
#popular {
  text-align: center;
}

.popular__container {
  .img-container {
    margin-bottom: 10px;
  }

  .img-container--light {
    display: none;
    margin-bottom: 55px;
  }

  h4 {
    margin-bottom: 11px;
  }
  
  p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  a {
    font-weight: bold;
  }
}

@media (min-width: map-get($breakpoints, 'medium')){
  .hero__fullbleed {
    padding-top: 110px;
    padding-bottom: 125px;
  }
  
  #hero {
    h1 {
      text-align: left;
      margin: 0;
    }

    .img-container {
      margin-bottom: 0;
    }
  }

  .img-container--bg {
    height: 180px;
  }
  
  .description__container {
    text-align: center;

    h3 {
      margin: 10px 0;
    }
    
    &:nth-child(2n){
      margin: 0;
    }
  }

  #popular {
    h2 {
      margin-bottom: 40px;
    }
  }
}  

@media (min-width: map-get($breakpoints, 'large')){
  #description {
    padding-top: 0;
    padding-bottom: 90px;
    position: relative;
    top: -50px;
  }
  
  .description__container {
    h3 {
      margin: 20px 0;
    }
  }
  
  .img-container--bg-dark {
    display: flex;
    height: 235px;
    background-color: $background-dark-blue;
  }

  .img-container--bg {
    display: none;
  }

  #popular {
    padding-bottom: 135px;
    
    h2 {
      margin-bottom: 65px;
    }
  }

  .popular__container {
    .img-container {
      display: none;
    }

    .img-container--light {
      display: flex;
    }
    
    p {
      margin-bottom: 10px;
    }
  }
}