#hero {
  .hero__fullbleed {
    padding-top: 170px; 
    padding-bottom: 65px;
  }

  h1 {
    max-width: 266px;
    text-align: center;
    margin: 0 auto;
  }

  .img-container {
    margin-bottom: 145px;
  }
}

#short-description {
  padding: 50px 0;
}

.short-description__container {
  .text-container {
    padding-left: 10px;
  }

  &:nth-child(2n){
    margin: 30px 0;
  }
}

.img-container--bg {
  background-color: $background-blue;
}

.img-container--bg-dark {
  display: none;
}


@media (min-width: map-get($breakpoints, 'medium')){
  .hero__fullbleed {
    padding-top: 110px;
    padding-bottom: 125px;
  }
  
  #hero {
    h1 {
      text-align: left;
      margin: 0;
    }

    .img-container {
      margin-bottom: 0;
    }
  }

  .img-container--bg {
    height: 180px;
  }
  
  .short-description__container {
    text-align: center;

    h3 {
      margin: 10px 0;
    }
    
    &:nth-child(2n){
      margin: 0;
    }
  }
}  

@media (min-width: map-get($breakpoints, 'large')){
  #short-description {
    padding-top: 0;
    position: relative;
    top: -50px;
  }
  
  .short-description__container {
    h3 {
      margin: 20px 0;
    }
  }
  
  .img-container--bg-dark {
    display: flex;
    height: 235px;
    background-color: $background-dark-blue;
  }

  .img-container--bg {
    display: none;
  }
}