// Short Description
#description {
  padding: 50px 0;
}

.description__container {
  .text-container {
    padding-left: 10px;
  }

  &:nth-child(2n){
    margin: 30px 0;
  }

  p {
    margin-bottom: 0;
  }
}

.img-container--bg {
  background-color: $background-blue;
}

.img-container--bg-dark {
  display: none;
}

// Popular Resources
#popular {
  text-align: center;
  padding-bottom: 36px;

  h2 {
    margin-bottom: var(--header-spacing-y);
  }
}

.popular__container {
  .img-container {
    margin-bottom: 15px;
  }

  .img-container--light {
    display: none;
    margin-bottom: 55px;
  }

  h4 {
    margin-bottom: 15px;
  }
  
  p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  a {
    font-weight: bold;
  }
}

// Benefit
#benefit {
  text-align: center;

  .fullbleed {
    padding: 50px 0;
  }

  h2 {
    margin-bottom: var(--header-spacing-y);
  }

  .button {
    margin-top: 42px;
    width: 150px;
  }
}

.benefit__container {
  padding: 54px 36px 38px 36px;
  background-color: $white;

  &:nth-child(2n){
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .img-container {
    margin-bottom: 54px;
  }
  
  h3 {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 0;
  }
  
}


// Media Queries
@media (min-width: map-get($breakpoints, 'medium')){
  
  #hero {
    .fullbleed {
      padding-top: 110px;
      padding-bottom: 110px;
    }

    h1 {
      text-align: left;
      margin: 0;
    }

    .img-container {
      margin-bottom: 0;
    }
  }

  .img-container--bg {
    height: 180px;
  }
  
  .description__container {
    text-align: center;

    h3 {
      margin: 10px 0;
    }
    
    &:nth-child(2n){
      margin: 0;
    }
  }
}  

@media (min-width: map-get($breakpoints, 'large')){
  #hero {
    h1 {
      max-width: 436px;
    }

    .button {
      width: 250px;
    }
  }
  
  #description {
    padding-top: 0;
    padding-bottom: 90px;
    position: relative;
    top: -55px;
  }
  
  .description__container {
    h3 {
      margin: 20px 0;
    }
  }
  
  .img-container--bg-dark {
    display: flex;
    height: 235px;
    background-color: $background-dark-blue;
  }

  .img-container--bg {
    display: none;
  }

  #popular {
    padding-bottom: 120px;
    
    h2 {
      margin-bottom: 65px;
    }
  }

  .popular__container {
    .img-container {
      display: none;
    }

    .img-container--light {
      display: flex;
    }

    h4 {
      margin-bottom: 10px;
    }
    
    p {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  #benefit {
  .fullbleed {
    padding: 145px 0;
  }

  h2 {
    margin-bottom: 64px;
  }

  .button--body {
    margin-top: 25px;
  }
}

  .benefit__container {
    padding: 50px 33px 50px 31px;
    
    &:nth-child(2n){
      margin-top: 0;
      margin-bottom: 0;
    }

    .img-container {
      margin-bottom: 60px;
    }

    h3 {
      margin-bottom: 32px;
    }
  }
}