body {
  color: $font-blue;
}

.fullbleed {
  background-color: $background-blue;
}

.img-placeholder--sm {
  max-width: 42px;
  max-height: 30px;
}

.img-placeholder--md {
  max-width: 74px;
  max-height: 54px;
}

.img-placeholder--lg {
  max-width: 105px;
  max-height: 77px;
}

.button--body {
  margin: 0 auto;
  margin-top: 25px;
}

@media (min-width: map-get($breakpoints, 'medium')){
  .hero__fullbleed {
    height: 100vh;
  }
  
  .button--body {
    margin: 0;
    margin-top: 25px;
    max-width: 250px;
  }

  .img-placeholder--sm {
    max-width: 105px;
    max-height: 77px;
  }

  .img-placeholder--md {
    max-width: 112px;
    max-height: 82px;
  }
} 

@media (min-width: map-get($breakpoints, 'large')){
  .button--body {
    margin-top: 75px;
  }
}

// Foundation
.button {
  background-color: $button-blue;
  font-size: 1rem;
}

.button.large {
  font-size: 1rem;
}




