body {
  color: $font-blue;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.fullbleed {
  background-color: $background-blue;
}

.fullbleed--dark {
  background-color: $accent-blue;
}

.img-placeholder--sm {
  max-width: 42px;
  max-height: 30px;
}

.img-placeholder--md {
  max-width: 74px;
  max-height: 54px;
}

.img-placeholder--lg {
  max-width: 105px;
  max-height: 77px;
}

@media (min-width: map-get($breakpoints, 'medium')){
  .img-placeholder--sm {
    max-width: 105px;
    max-height: 77px;
  }

  .img-placeholder--md {
    max-width: 112px;
    max-height: 82px;
  }
} 





