body {
  color: $accent-blue;
}

a:hover > i {
  color: $foundation-hover;
}

.fullbleed {
  background-color: $background-blue;
}

.fullbleed--dark {
  background-color: $accent-blue;
}

.img-placeholder--sm {
  max-width: 42px;
  max-height: 30px;
}

.img-placeholder--md {
  max-width: 74px;
  max-height: 54px;
}

.img-placeholder--lg {
  max-width: 105px;
  max-height: 77px;
}

// Foundation
.close-button {
  font-size: 3rem;
}

@media (min-width: map-get($breakpoints, 'medium')){
  .img-placeholder--sm {
    max-width: 105px;
    max-height: 77px;
  }

  .img-placeholder--md {
    max-width: 112px;
    max-height: 82px;
  }
} 





