// CSS Variables
:root {
  --header-spacing-y: 24px;
}

// Colors

$font-blue: #0D47A1;
$background-blue: #DFF1FF;
$background-dark-blue: #BBDEFB;
$background-white: #EFF1EF;
$accent-blue: #0D47A1;
$white: #ffffff;

@media (min-width: map-get($breakpoints, 'large')){
  :root {
    --header-spacing-y: 65px;
  }
}